/********ANIDAMIENTO********/
/***********************************UNIVERSAL STYLES***********************************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  width: 100%;
}

.container {
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
}
body h2 {
  margin-bottom: 1em;
}
body h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
body p {
  font-size: 1.06em;
  line-height: 1.6;
  color: black;
}
body ul {
  list-style: none;
}
body li {
  display: inline-block;
}
body a {
  text-decoration: none;
}

/***********VARAIBLES**********/
/***COLORES***/
/***********************************HEADER STYLES***********************************/
#mainHeader {
  position: relative;
  max-height: fit-content;
  padding: 1em 1em 0 0;
  z-index: 900;
  background: #fff;
  border-bottom: 1px #9e0000 solid;
  overflow: hidden;
}
#mainHeader ul {
  float: right;
  overflow: hidden;
  list-style: none;
  text-align: right;
}
#mainHeader ul li {
  display: inline-block;
  margin-left: 20px;
  line-height: 1.5;
}
#mainHeader ul li a {
  color: #454545;
  text-transform: uppercase;
  font-size: 14px;
}
#mainHeader ul li a :hover {
  color: #9e0000;
  transform: scale(1.2, 1.2);
}

.logo {
  float: left;
  margin: -0.3em 0 0.1em 0.5em;
  line-height: 1;
  font-size: 24pt;
  font-weight: bold;
  color: #1c246c;
  font-family: "Dancing Script", cursive;
}

/***********VARAIBLES**********/
/***COLORES***/
/***********************************HERO STYLES***********************************/
#hero {
  background: url(imagenes/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}

.heroContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.heroContent h1 {
  font-size: 50px;
  color: #ececec;
  margin-top: 30px;
  margin-top: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}
.heroContent .download a {
  color: white;
  font-size: 16px;
}
.heroContent .download a :hover {
  color: #1c246c;
}
.heroContent .download:hover {
  border-color: #00ff4e;
  background-color: #9e9e9ec5;
}
.heroContent img {
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px #96d0ff solid;
}

/***********VARAIBLES**********/
/***COLORES***/
/***********************************ABOUT STYLES***********************************/
#about {
  display: flex;
  margin-bottom: 1em;
}

.aboutText {
  width: 100%;
  margin: 5em 5em 0 5em;
}
.aboutText h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #1c246c;
  font-family: "Dancing Script", cursive;
}

.aboutResume {
  width: 100%;
  float: right;
  position: relative;
  margin: 5em 5em 0 0;
}
.aboutResume h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #1c246c;
  font-family: "Dancing Script", cursive;
}

.aboutSocial {
  margin-top: 1em;
}
.aboutSocial li:hover {
  transform: scale(1.2, 1.2);
  transition: 2seg;
}
.aboutSocial a {
  color: white;
  font-size: 0em;
}

.skillProgressContainer {
  margin-bottom: 15px;
  padding-left: 16px;
  color: #454545;
}

.edu h2 {
  margin: 1em 0 0 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #1c246c;
  font-family: "Dancing Script", cursive;
}

.educacion {
  display: flex;
}

.educacionBlock {
  margin-bottom: 15px;
  padding-left: 16px;
  width: 50%;
}

.skillBar {
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 5px;
  background: #a3a3a3;
}

.barPercent {
  position: absolute;
  top: 0;
  left: 0;
}

.inner-percent {
  height: inherit;
  width: 0;
  background: #9e0000;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.development {
  background: #9e0000;
  width: 95%;
  height: 5px;
}

.frontend {
  background: #9e0000;
  height: 5px;
  width: 95%;
}

.backend {
  background: #9e0000;
  height: 5px;
  width: 70%;
}

/***********VARAIBLES**********/
/***COLORES***/
/***********************************SERVICES STYLES***********************************/
#servicios {
  position: relative;
  background: #f8f9fa;
  padding: 0 10em 4em 10em;
}

.servicios {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  font-size: 1.2em;
  font-weight: bold;
  color: #1c246c;
  font-family: "Dancing Script", cursive;
}

.servicios1 p {
  padding: 0 1em 0 1em;
}

.servicios1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 13em);
  text-align: center;
  padding: 2em 0 0 0;
  font-weight: bold;
  color: #1c246c;
  font-family: "Dancing Script";
}

.service-block {
  border-right: 0.1em #9e0000 solid;
  border-bottom: 0.1em #9e0000 solid;
}

.service-block1 {
  border-bottom: 0.1em #9e0000 solid;
}

.service-block2 {
  border-left: 0.1em #9e0000 solid;
  border-bottom: 0.1em #9e0000 solid;
}

.service-block3 {
  border-right: 0.1em #9e0000 solid;
  padding-top: 2em;
}

.service-block4 {
  padding-top: 2em;
}

.service-block5 {
  border-left: 0.1em #9e0000 solid;
  padding-top: 2em;
}

/***********VARAIBLES**********/
/***COLORES***/
/***********************************PORTFOLIO STYLES***********************************/
.portfolio {
  position: relative;
  padding-bottom: 1em;
}
.portfolio h2 {
  text-align: center;
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: #1c246c;
  font-family: "Dancing Script", cursive;
}

.button2 {
  width: auto;
  position: relative;
  border-radius: 1em;
  padding: 10px;
  margin: 0 0 1em 0;
  background: #ffffff;
  border: 2px #1c246c solid;
  cursor: pointer;
  font-size: 1.2em;
  float: right;
  border-color: none;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.items img {
  align-items: center;
  width: 22em;
  height: 14em;
  margin-bottom: 2em;
}
.items h3 {
  text-align: center;
}

/***********VARAIBLES**********/
/***COLORES***/
/***********************************CONTACT STYLES***********************************/
.contacto {
  background: #f8f9fa;
  padding-top: 1em;
}
.contacto h2 {
  text-align: center;
  float: top;
  font-size: 1.5em;
  font-weight: bold;
  color: #1c246c;
  font-family: "Dancing Script", cursive;
}

.datos {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding-left: 2em;
}

.contactBlock {
  display: flex;
  justify-content: center;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
  margin: 0 4em 2em 2em;
  padding: 1em 2em 0 4em;
  justify-content: space-around;
}

.contactText {
  display: flex;
  float: left;
}
.contactText p:first-child {
  text-align: left;
  color: #454545;
  font-weight: bold;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-right: 6em;
  margin: 2em 4em 2em 2em;
}

input[type=text] {
  display: inline-block;
  width: 100%;
  padding: 1em;
  margin: 0.5em 0 0.5em 0;
  height: 45px;
  border-radius: 1em;
  font-size: 1.2em;
  background: #f8f9fa;
  border: 1px #a3a3a3 solid;
  color: #a3a3a3;
}

textarea {
  display: inline-block;
  width: 100%;
  border-radius: 1em;
  padding: 5px;
  margin-top: 0.5em;
  font-size: 1.2em;
  background: #f8f9fa;
  border: 1px #a3a3a3 solid;
  color: #a3a3a3;
}

#contactSubmit {
  width: 6em;
  position: relative;
  border-radius: 1em;
  margin-top: 0.4em;
  padding: 10px;
  background: none;
  border: 1px #a3a3a3 solid;
  cursor: pointer;
  font-size: 1.2em;
  float: right;
}

#contactSubmit:hover {
  transform: scaleX(1.04);
  transition: 2seg;
}

/***********VARAIBLES**********/
/***COLORES***/
/***********************************FOOTER STYLES***********************************/
footer {
  padding: 12px 0 12px 0;
  text-align: center;
  border-top: 0.1em #9e0000 solid;
}
footer p {
  color: #9e0000;
}

/* * * * * * * * * * * MEDIA QUERIES * * * * * * * * * * * * */
/* IPAD */
@media (min-width: 1px) and (max-width: 991.98px) {
  /*******************HEADER
    SECTION*******************/
  #mainHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #mainHeader ul {
    text-align: center;
  }

  /*******************ABOUT
    SECTION*******************/
  #about {
    display: flex;
    flex-wrap: wrap;
  }

  .aboutText {
    padding: 1em 2em 1em 2em;
    margin: 0;
  }

  .aboutResume {
    margin: 0 2em 1em 2em;
  }

  /*******************SERVICES
    SECTION*******************/
  #servicios {
    margin: 0;
    padding: 0;
  }

  .servicios {
    padding-top: 1em;
  }

  .servicios1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0;
  }
  .servicios1 p {
    margin: 0 2em;
  }

  .servicios2 {
    display: flex;
    flex-direction: column;
    border-style: none;
  }
  .servicios2 p {
    margin: 0 2em;
  }

  .service-block {
    border-style: none;
    border-bottom: 0.1em #9e0000 solid;
  }

  .service-block1 {
    padding-top: 1em;
    border-style: none;
    border-bottom: 0.1em #9e0000 solid;
  }

  .service-block2 {
    padding-top: 1em;
    border-style: none;
    border-bottom: 0.1em #9e0000 solid;
  }

  .service-block3 {
    border-style: none;
    border-style: none;
    border-bottom: 0.1em #9e0000 solid;
  }

  .service-block4 {
    border-style: none;
    border-style: none;
    border-bottom: 0.1em #9e0000 solid;
  }

  .service-block5 {
    border-style: none;
  }

  /*******************PORTFOLIO
    SECTION*******************/
  .portfolio {
    position: relative;
    justify-content: space-between;
  }

  .items {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: auto;
  }

  .img {
    padding-top: 1em;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  /*******************CONTACT
    SECTION*******************/
  .contacto {
    position: relative;
    line-height: 0.2em;
  }
  .contacto h2 {
    padding-top: 1em;
  }

  .contactBlock {
    flex-direction: column;
    justify-content: space-around;
  }

  .contactInfo {
    width: 100%;
    margin: 0 0 0 2em;
    padding: 0;
  }

  .contactForm {
    padding: 0;
    margin: 1em 1em 1em 2em;
    line-height: 2em;
  }
}
/* COMPUTADORA CHICA */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /*******************HEADER
    SECTION*******************/
  #mainHeader {
    display: flex;
    justify-content: space-between;
  }

  /*******************ABOUT
    SECTION*******************/
  .aboutText {
    margin-top: 2em;
  }

  .aboutResume {
    margin-top: 2em;
  }

  /*******************SERVICES
    SECTION*******************/
  #servicios {
    padding: 0 0 2em 0;
  }

  .servicios {
    padding-top: 1em;
  }

  .servicios1 {
    padding: 0 2em;
    margin: 0 2em;
  }

  .servicios2 {
    padding: 0 2em;
    margin: 0 2em;
  }
}
/* COMPUTADORA GRANDE */
@media (min-width: 1200px) {
  /*******************HEADER
    SECTION*******************/
  #mainHeader {
    display: flex;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
