/* * * * * * * * * * * MEDIA QUERIES * * * * * * * * * * * * */

/* IPAD */

@media (min-width: 1px) and (max-width: 991.98px) {

  /*******************HEADER
    SECTION*******************/
  #mainHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    ul {
      text-align: center;
    }
  }

  /*******************ABOUT
    SECTION*******************/
  #about {
    display: flex;
    flex-wrap: wrap;
  }

  .aboutText {
    padding: 1em 2em 1em 2em;
    margin: 0;
  }

  .aboutResume {
    margin: 0 2em 1em 2em;
  }

  /*******************SERVICES
    SECTION*******************/

  #servicios {
    margin: 0;
    padding: 0;
  }

  .servicios {
    padding-top: 1em;
  }

  .servicios1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0;

    p {
      margin: 0 2em;
    }
  }

  .servicios2 {
    display: flex;
    flex-direction: column;
    border-style: none;

    p {
      margin: 0 2em;
    }
  }

  @mixin block {
    border-style: none;
    border-bottom: 0.1em $red solid;
  }

  .service-block {
   @include block;
  }

  .service-block1 {
    padding-top: 1em;
    @include block;
  }

  .service-block2 {
    padding-top: 1em;
    @include block;
  }

  .service-block3 {
    border-style: none;
    @include block;
  }

  .service-block4 {
    border-style: none;
    @include block;;
  }

  .service-block5 {
    border-style: none;
  }

  /*******************PORTFOLIO
    SECTION*******************/

  .portfolio {
    position: relative;
    justify-content: space-between;
  }

  .items {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: auto;
  }

  .img {
    padding-top: 1em;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  /*******************CONTACT
    SECTION*******************/

  .contacto {
    position: relative;
    line-height: 0.2em;

    h2 {
      padding-top: 1em;
    }
  }

  .contactBlock {
    flex-direction: column;
    justify-content: space-around;
  }

  .contactInfo {
    width: 100%;
    margin: 0 0 0 2em;
    padding: 0;
  }

  .contactForm {
    padding: 0;
    margin: 1em 1em 1em 2em;
    line-height: 2em;
  }
}

/* COMPUTADORA CHICA */

@media (min-width: 992px) and (max-width: 1199.98px) {

  /*******************HEADER
    SECTION*******************/

  #mainHeader {
    display: flex;
    justify-content: space-between;
  }

  /*******************ABOUT
    SECTION*******************/

  .aboutText {
    margin-top: 2em;
  }

  .aboutResume {
    margin-top: 2em;
  }

  /*******************SERVICES
    SECTION*******************/

  #servicios {
    padding: 0 0 2em 0;
  }

  .servicios {
    padding-top: 1em;
  }

  .servicios1 {
    padding: 0 2em;
    margin: 0 2em;
  }

  .servicios2 {
    padding: 0 2em;
    margin: 0 2em;
  }


}

/* COMPUTADORA GRANDE */
@media (min-width: 1200px) {

  /*******************HEADER
    SECTION*******************/

  #mainHeader {
    display: flex;
    justify-content: space-between;
  }

}